<div style="color:#fff; text-align:center; padding-top:50px;">
  <span style="font-size:11px">-Wallink-</span>
  <br>
  <br>
  <br>
  <br>
  <span style="font-size:30px">{{date}}<br>{{time}}</span>
</div>