body { background:#1c2d42; color:#1c2d42; margin:0; }

.panel { display:flex; flex-wrap:wrap; }
.surfometer { width:50%; position:relative;}
@media screen and (max-width:800px) { .surfometer { width:100%; }}
.surfometer div.spotname { color:white; position:absolute; left:0; bottom:12px; width:100%; text-align:center; font-family:helvetica; font-family: 'Ranchers', cursive; font-size:36px; color:rgba(255,255,255,0.6); text-shadow:0 0 10px rgb(0 0 0 / 50%); letter-spacing:2px; z-index:10;}
.surfometer .loader { position:absolute; top:40%; left:50%; }
.surfometer .container { display:flex; }
.surfometer .container div.SurfDayV3:first-child { flex:0.38; opacity:0.2; }
.surfometer .container div.SurfDayV3 { flex:1; width:12.5%; }
.surfometer .container div.SurfDayV3 > div:first-child { display:none; }
.surfometer:nth-child(1) .container div.SurfDayV3 > div:first-child { display:block; height:20px; margin-top:10px; font-size:11px; white-space:nowrap; text-align:center; color:rgba(255,255,255,0.4); text-transform:uppercase; }
.surfometer:nth-child(2) .container div.SurfDayV3 > div:first-child { display:block; height:20px; margin-top:10px; font-size:11px; white-space:nowrap; text-align:center; color:rgba(255,255,255,0.4); text-transform:uppercase; }
.surfometer .container div.SurfDayV3 > div:nth-child(2) { height:20px; font-size:12px; white-space:nowrap; text-align:center; display:flex; justify-content:center; }
.surfometer .container .sprite { position:relative; border-radius:50px; width:10px; height:10px; }
.surfometer .container .sprite:before {content:''; display:block; position:absolute; left:-15px; border-radius:50px; width:10px; height:10px; }
.surfometer .container .sprite:after {content:''; display:block; position:absolute; right:-15px; border-radius:50px; width:10px; height:10px; }
.surfometer .container .sprite.sprite-etoiles-0-bis { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-0-bis:before { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-0-bis:after { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-1-bis { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-1-bis:before { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-1-bis:after { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-2-bis { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-2-bis:before { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-2-bis:after { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-3-bis { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-3-bis:before { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-3-bis:after { background:#3f0; }
.surfometer .container img { width: 100%; }

.toolbar { position: absolute; bottom:0; width:98%; padding: 1%; display: flex; justify-content: center; }

button { padding:0; background:transparent; border:0; cursor:pointer; color:#ddd; outline:none; }
button.blackandwhite { opacity:0.2; }

.modal { position: absolute; top:0; left:0; right:0; bottom:0; background-color: rgba(0,0,0,0.5); display: flex; justify-content:center; align-items: center; z-index:1000;}
.modal-inner { display:flex; flex-direction:column; padding:20px; background-color: white; border-radius:4px; min-width: 400px;}
.modal-bottom-buttons { margin-top:20px; padding:10px; display:flex; justify-content:center; }


.modal-spots-list {  }
.modal-spots-list ul { width:100%; list-style:none; margin:0; padding:0; }
.modal-spots-list ul li { display:flex; justify-content:space-between; padding:10px; border-bottom:1px solid #ddd; }
.modal-spots-list ul li .buttons{ visibility :hidden; pointer-events:none;}
.modal-spots-list ul li .buttons span { cursor:pointer;}
.modal-spots-list ul li:hover .buttons{ visibility :visible; pointer-events: all;}

.modal-spots-availables {  }
.modal-spots-availables .list { width:100%; max-height:500px; overflow-y:scroll; }
.modal-spots-availables ul { width:100%; list-style:none; margin:0; padding:0; }

/* Visual Modes */
/* Graysale */
.grayscale-mode .panel { filter:grayscale(1); }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-0-bis { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-0-bis:before { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-0-bis:after { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-1-bis { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-1-bis:before { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-1-bis:after { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-2-bis { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-2-bis:before { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-2-bis:after { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-3-bis { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-3-bis:before { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-3-bis:after { background:#3f0; }