* { box-sizing: border-box; }
body { background:#1c2d42; color:#1c2d42; margin:0;  font-family: 'RocknRoll One', sans-serif; }

.panel { display:flex; flex-wrap:wrap; }
.surfometer { width:50%; position:relative;}

.surfometer div.spotname { color:white; position:absolute; width:100%; height:100%; padding:0 10px 15px 0px; display: flex; justify-content:flex-end; align-items: center; font-family:helvetica; font-family: 'Ranchers', cursive; font-size:26px; color:rgba(255,255,255,0.75); text-shadow:0 0 5px rgb(0 0 0); letter-spacing:2px; z-index:10; }
.surfometer div.tide { position:absolute; left:0; top:50%; width:100%; z-index:10;}
.surfometer div.tide canvas{ width:100%; }
.surfometer .loader { position:absolute; top:40%; left:50%; }
.surfometer .container { display:flex; height:calc(20px + 20px + 20vh); }
.surfometer .container div.SurfometerV3 { display:flex; }
.surfometer .container div.SurfDayV3:first-child { display:none; }
.surfometer .container div.SurfDayV3 { flex:1; width:12.5%; }
.surfometer .container div.SurfDayV3 > div:first-child { display:none; height:20px; font-size:11px; white-space:nowrap; text-align:center; color:rgba(255,255,255,0.4); text-transform:uppercase; }
.surfometer:nth-child(1) .container div.SurfDayV3 > div:first-child { display:block; }
.surfometer .container div.SurfDayV3 > div:nth-child(2) { height:20px; font-size:12px; white-space:nowrap; text-align:center; display:flex; justify-content:center; align-items: center;}
.surfometer .container .sprite { position:relative; border-radius:50px; width:10px; height:10px; }
.surfometer .container .sprite:before {content:''; display:block; position:absolute; left:-15px; border-radius:50px; width:10px; height:10px; }
.surfometer .container .sprite:after {content:''; display:block; position:absolute; right:-15px; border-radius:50px; width:10px; height:10px; }
.surfometer .container .sprite.sprite-etoiles-0-bis { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-0-bis:before { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-0-bis:after { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-1-bis { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-1-bis:before { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-1-bis:after { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-2-bis { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-2-bis:before { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-2-bis:after { background:#bbb; }
.surfometer .container .sprite.sprite-etoiles-3-bis { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-3-bis:before { background:#3f0; }
.surfometer .container .sprite.sprite-etoiles-3-bis:after { background:#3f0; }
.surfometer .container .NoBottomBorderForImage { width: 100%; height: 20vh; }
.surfometer .container .NoBottomBorderForImage img { width: 100%; height:100%; }

.toolbar { position: fixed; z-index:10; bottom:0; width:100%; padding: 2%; display: flex; justify-content: space-between; }

button { padding:10px; background:black; width:80px; height:80px; border:0; border-radius:100%; cursor:pointer; color:#ddd; outline:none; }
button.blackandwhite { opacity:0.8; }

.modal { position: absolute; top:0; left:0; right:0; bottom:0; background-color: rgba(0,0,0,0.5); display: flex; justify-content:center; align-items: center; z-index:1000;}
.modal-inner { display:flex; flex-direction:column; padding:20px; background-color: white; border-radius:4px; min-width: 400px;}
.modal-inner h1 { text-align:center; margin:0 0 5px 0; }
.modal-inner input[name=search] { background:#DDD; border:0; padding:10px; margin-bottom:12px; }
.modal-bottom-buttons { margin-top:20px; padding:10px; display:flex; justify-content:space-between; }
.modal-bottom-buttons button { background:rgb(0, 0, 0); padding:8px 16px; border-radius:4px; color:#fff; font-family:'RocknRoll One'; }

.modal-spots-list {  }
.modal-spots-list ul { width:100%; list-style:none; margin:0; padding:0; }
.modal-spots-list ul li { display:flex; justify-content:space-between; padding:10px; border-bottom:1px solid #ddd; }
.modal-spots-list ul li .actions{ opacity:0.2; pointer-events:all;}
.modal-spots-list ul li .actions span { cursor:pointer;}
.modal-spots-list ul li:hover .actions{ opacity:0.8; }

.modal-spots-availables {  }
.modal-spots-availables .list { width:100%; max-height:500px; overflow-y:scroll; }
.modal-spots-availables ul { width:100%; list-style:none; margin:0; padding:0; }
.modal-spots-availables ul li { padding:2px; margin-left:8px; }
.modal-spots-availables ul li:hover { background:#f3f3f3; cursor:pointer; }

/* tablet mode */
@media screen and (max-width:800px) {
  .surfometer { width:100%; }
  .surfometer .container { height:calc(20px + 20vh); }
  .surfometer:nth-child(1) .container { height:calc(20px + 20px + 20vh); }
  /* hide loader on greyscale mode (avoid persistance on inc screen) */
  .grayscale-mode .surfometer .loader { display:none; }
}

/* decktop mode */
@media screen and (min-width:800px) {
  .surfometer:nth-child(2) .container div.SurfDayV3 > div:first-child { display:block; height:20px; margin-top:10px; font-size:11px; white-space:nowrap; text-align:center; color:rgba(255,255,255,0.4); text-transform:uppercase; }
  .surfometer .container .NoBottomBorderForImage { width: 100%; height: 100%; }

}
/* Visual Modes */
/* Graysale */
.grayscale-mode .panel { filter:grayscale(1); }
.grayscale-mode .surfometer .spotname { color: #fff; -webkit-text-stroke: 1px rgba(0,0,0,1); }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-0-bis { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-0-bis:before { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-0-bis:after { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-1-bis { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-1-bis:before { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-1-bis:after { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-2-bis { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-2-bis:before { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-2-bis:after { opacity:0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-3-bis { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-3-bis:before { background:#3f0; }
.grayscale-mode .surfometer .container .sprite.sprite-etoiles-3-bis:after { background:#3f0; }